@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {    
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'press_start_2pregular';
}
h1 {
    color: black;
    text-align: center;
}
#dog {
    width: 100px;
    height: 100px;
    bottom: 0px;
    position: absolute;
    background-color: #3399ff;
    background-size: cover;
}